<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' />
        <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&family=Roboto+Slab&display=swap" rel="stylesheet">  
        <link rel="shortcut icon" href="../favicon_two.png" type="image/png">

    </head>
    <style>
        body {
            background: #e8cbc0; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #e8cbc0, #636fa4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
            color: whitesmoke;
        }
        h2, h3{
            font-family: 'Libre Bodoni', serif;
            font-weight: 300;
            color: black;
        }
        h1 {
            font-family: 'Roboto Slab', serif;
            color: whitesmoke;
            font-weight: 400;
            font-size: 75px;
        }

    </style>

    <body>
        <%- include('header') %>

     <div class = "container">
        <div class="col-md-12 mt-4 pt-4">

        <div class="col-md-12" id='image-holder'>
            <a class="headshot" href="/about"> 
                <img src="../Headshot.jpg" class="rounded-circle mx-auto my-3 d-block" alt="Jen Headshot"
            height="300px" width="300px"/>
            </a>
        </div>
        
            <h2 class="text-center pt-3"> HI THERE, </h2>
            <h1 class="text-center font-bold"> I'm Jen Barry </h1>
            <h3 class="text-center py-3"> FULL-STACK DEVELOPER </h3>
     </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>