
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' />
        <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&family=Roboto+Slab&display=swap" rel="stylesheet">  
    </head>
    <style>
        body {
            background: #e8cbc0; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #e8cbc0, #636fa4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
            color: whitesmoke;
        }

        h2 {
            font-family: 'Roboto Slab', serif;
            color: whitesmoke;
            font-weight: 400;
            font-size: 50px;
        }
        h3{
            font-family: 'Libre Bodoni', serif;
            font-weight: 300;
            font-size: 22px;
            color: black;
        }
        p {
            font-family: 'Libre Bodoni', serif;
            font-weight: 300;
            color: black;
        }

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0, 0, 0, 0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0, 0, 0, 0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

    </style>

    <body>
        <%- include('header') %>

        <div class="container">
            <h2 class="text-center mt-5 mb-2" > PROJECTS </h2>
            <div class="row row-cols-xs-1 row-cols-md-2 row-cols-xl-3 g-4 g-lg-4 my-4">

              <div class="col" id='book-finder'>
                <div class="p-3 border-none">
                    <div class="hovereffect">
                        <img src="../bookfinder.png" class="rounded-1" alt="Book Finder App" height="200" width="380">
                        <div class="overlay">
                            <h2>Book Finder App </h2>
                            <a class="info" href="https://book-finder-app-react100.herokuapp.com/" target="_blank">Go to Project</a>
                         </div>
                    
                    </div>
                </div>
              </div>

              <div class="col" id='to-to-app'>
                <div class="p-3 border-none">
                    <div class="hovereffect">
                        <img src="../vstda.png" class="rounded-1" alt="To Do App" height="200" width="380">
                        <div class="overlay">
                            <h2> To Do App </h2>
                            <a class="info" href="https://very-simple-to-do-app.herokuapp.com/" target="_blank">Go to Project</a>
                         </div>
                    </div>
                </div>
              </div>

              <div class="col" id='mortgage-calculator'>
                <div class="p-3 border-none">
                    <div class="hovereffect">
                        <img src="../mortgage-calculator.png" class="rounded-1" alt="Mortgage Calculator" height="200" width="380">
                        <div class="overlay">
                            <h2> Mortgage Calculator </h2>
                            <a class="info" href="https://mortgage-calculator-react-100.herokuapp.com/" target="_blank">Go to Project</a>
                         </div>
                    </div>
                </div>
              </div>

              <div class="col" id='top-spots-react'>
                <div class="p-3 border-none">
                    <div class="hovereffect">
                        <img src="../top-spots-react.png" class="rounded-1" alt="San Diego Top Spots (React)" height="200" width="380">
                        <div class="overlay">
                            <h2> San Diego Top Spots (React) </h2>
                            <a class="info" href="https://san-diego-top-spots-react100.herokuapp.com/" target="_blank">Go to Project</a>
                         </div>
                    </div>
                </div>
              </div>

              <div class="col" id='change-calculator-react'>
                <div class="p-3 border-none">
                    <div class="hovereffect">
                        <img src="../change-react.png" class="rounded-1" alt="Change Calulator (React)" height="200" width="380">
                        <div class="overlay">
                            <h2> Change Calculator (React) </h2>
                            <a class="info" href="https://change-calculator-react-100.herokuapp.com/" target="_blank">Go to Project</a>
                         </div>
                    </div>
                </div>
              </div>

              <div class="col" id='astro-calculator'>
                <div class="p-3 border-none">
                    <div class="hovereffect">
                        <img src="../astro-calculator.png" class="rounded-1" alt="Astro Weight Calulator" height="200" width="380">
                        <div class="overlay">
                            <h2> Astro Weight Calulator </h2>
                            <a class="info" href="https://astro-weight-calculator.herokuapp.com/"  target="_blank">Go to Project</a>
                         </div>
                    </div>
                </div>
              </div>

              <div class="col" id='change-calculator'>
                <div class="p-3 border-none">
                    <div class="hovereffect">
                        <img src="../change-calculator.png" class="rounded-1" alt="Change Calulator" height="200" width="380">
                        <div class="overlay">
                            <h2> Change Calulator </h2>
                            <a class="info" href="https://change-calculator-web102.herokuapp.com/"  target="_blank">Go to Project</a>
                         </div>
                    </div>
                </div>
              </div>

              <div class="col" id='top-spots'>
                <div class="p-3 border-none">
                    <div class="hovereffect">
                        <img src="../top-spots .png" class="rounded-1" alt="San Diego Top Spots" height="200" width="380">
                        <div class="overlay">
                            <h2> San Diego Top Spots </h2>
                            <a class="info" href="https://san-diego-top-spots-web102.herokuapp.com/"  target="_blank">Go to Project</a>
                         </div>
                    </div>
                </div>
              </div>

              <div class="col" id='Tic-Tac-Toe'>
                <div class="p-3 border-none">
                    <div class="hovereffect">
                        <img src="../tic-tac-toe.png" class="rounded-1" alt="Tic Tac Toe" height="200" width="380">
                        <div class="overlay">
                            <h2> Tic Tac Toe </h2>
                            <a class="info" href="https://tic-tac-toe-react100.herokuapp.com/" target="_blank">Go to Project</a>
                         </div>
                    </div>
                </div>
              </div>

            </div>
          </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
